@{
    ViewData["Title"] = "O meni";
}
<h1>@ViewData["Title"]</h1>

<p>Anita Zovkić, studentica 3. godine preddiplomskog studija Poslovne informatike</p>
<p>
   mail: anita.zovkic@gmail.com 
</p>
<p>
   br. mobitela: 099/785-442
</p>